<div class="row">
<h1>Allison's safe list</h1>
</div>
<% if @msg %>
	<% if @msg[:error] %>
	<div id="error">
		<% @msg[:error].each do |err| %>
			<div class="row"><%= err %></div>
		<% end %>
	</div>
	<% end %>
	<% if @msg[:info] %>
	<div id="info">
		<% @msg[:info].each do |inf| %>
			<div class="row"><%= inf %></div>
		<% end %>
	</div>
	<% end %>
<% end %>
