<div class="jumbotron">
<h1>Allison's safe list</h1>
Collection of things that Allison <strong>CAN</strong> actually eat
</div>
<% if @msg %>
	<% if @msg[:error] %>
	<div id="error" class="alert alert-danger" role="alert">
		<% @msg[:error].each do |err| %>
			<strong>Error</strong> <%= err %>
		<% end %>
	</div>
	<% end %>
	<% if @msg[:info] %>
	<div id="info" class="alert alert-info" role="alert">
		<% @msg[:info].each do |inf| %>
			<strong>Info</strong> <%= inf %>
		<% end %>
	</div>
	<% end %>
<% end %>
